doctype html
html
  head
    title Welcome
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='shortcut icon', href='/static/img/favicon.ico')

  body
    #app
      .flex-clear
        .flex-row
          .fixed
            .header
              img.logo(src='/static/img/nuvola-logo.png')
              span docs to markdown converter
          .fluid
            .flex-clear
              .flex-column
                .fluid
                  .badge(style='left: 20px;')
                    span docs
                  div#raw.overflow(spellcheck='false', contenteditable)
                .fluid
                  .badge(style='left: 10px;')
                    span markdown
                  textarea#export.overflow(spellcheck='false', readonly)

    script(type='text/javascript', src='/static/js/vendor/html2markdown.js')
    script(type='text/javascript', src='/static/js/vendor/markdown_dom_parser.js')
    script(type='text/javascript', src='/static/js/main.js')
