@import ('nib')
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')


/* @CUSTOM colors for easy use */
_accent = #00b3d8
/* end @CUSTOM */

.open-sans
  font-family 'Open Sans', sans-serif

.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .open-sans

html,
body
  width 100%
  height 100%
  @extends .open-sans
  background #292929
  color #FFF

.pure-form
  input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea
    @extends .open-sans
  button
    @extends .open-sans

/* @CUSTOM CSS for fast start */
.container
  width 960px
  margin auto

.page
  width 100%
  height auto

h1, h2, h3
  font-weight 400
h4, h5, h6
  font-weight 600

.spacer-5
  height 5px
.spacer-10
  height 10px
.spacer-20
  height 20px
.spacer-40
  height 40px
.spacer-60
  height 60px
.spacer-80
  height 80px
.spacer-100
  height 100px

.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right

a.link
  text-decoration none
  color #333
  box-shadow inset 0 -2px 0 rgba(#333, 0.2)
  transition color 0.3s ease, box-shadow 0.3s ease
  display inline-block
  &:hover
    color _accent
    box-shadow inset 0 -2px 0 rgba(_accent, 0.3)
/* end @CUSTOM */


.header
  padding 20px 20px 0 20px
  .logo
    width 45px
    height 30px
    margin-right 10px
  img,
  span
    display inline-block
    vertical-align middle
  span
    text-transform uppercase
    font-weight 600
    font-size 13px

.badge
  height 24px
  background #191919
  z-index 2
  margin 0 20px
  line-height 0
  span
    font-size 10px
    text-transform uppercase
    font-weight 600
    line-height 24px
    height 24px
    padding 0 8px
    display inline-block
    color #FFF
    background _accent


#raw,
#export
  display block
  border 0
  padding 15px
  margin 20px 10px 0 20px
  height unquote('calc(100% - 94px)')
  width unquote('calc(100% - 60px)')
  background #191919
  position relative
  overflow hidden
  outline none
  color #FFF !important
  font-size 0.85em
  line-height 1.4em
  &:focus
    box-shadow inset 2px 0 0 _accent

  a
    color _accent !important
    text-decoration none

#export
  margin 20px 20px 0 10px

.flex-clear
  position absolute
  width 100%
  height 100%

.flex-row
  display flex
  flex-direction column
  width 100%
  height 100%
  .fluid,
  .fixed
    width 100%
  .fluid
    height 100%

.flex-column
  display flex
  flex-direction row
  width 100%
  height 100%
  .fluid,
  .fixed
    height 100%
  .fluid
    width 100%

.flex-row,
.flex-column
  .fluid
    flex-growth 1
    position relative

  .fixed
    flex-growth 0
    position relative

  .overflow
    overflow auto
